<!DOCTYPE html>
<html>
<head>
<% include common-head %>
</head>
<body>
  <div class="container">
    <% include navbar %>
    This is the list page.
  </div>
</body>
<script type="text/javascript">setActiveMenuItem("list");</script>
</html>
