<!DOCTYPE html>
<html>
<head>
  <% include common-head %>
  <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="/node_modules/leaflet-draw/dist/leaflet.draw.css" />
  <link rel="stylesheet" href="/lib/Leaflet.label/dist/leaflet.label.css" />
  <script src="/node_modules/leaflet/dist/leaflet.js"></script>
  <script src="/node_modules/leaflet-draw/dist/leaflet.draw.js"></script>
  <script src="/lib/Leaflet.label/dist/leaflet.label.js"></script>
  <script src="/map.js"></script>
</head>
<body>
  <div id="mapcontainer">
    <div id="map"></div>
    <div id="messagearea"></div>
  </div>
  <div id="buttons">
    <button type="button" class="googleclick btn btn-small"><i class="fa fa-google-plus"></i></button>
  </div>
  <div id="hider-input-container">
    <span class="label">Hide postings older than </span><input id="hide_text_input" type="text" size="2" maxlength="2" oninput="do_dynamic_filter(event);"><span class="label">days</span>
  </div>
  <div id="price-input-container">
    <span class="label">min price: </span><input id="min_price_input" type="text" size="4" maxlength="4" oninput="do_dynamic_filter(event);"><span class="label">max price: </span><input id="max_price_input" type="text" size="4" maxlength="4" oninput="do_dynamic_filter(event);">
  </div>
</body>

<script type="text/template" id="stationpopup">
  <div class="stationpopup">
    <div class="stationpopup name">{{{name}}}</div>
    <div class="stationpopup routes">{{{routes}}}</div>
  </div>
</script>

<script type="text/template" id="postingpopup">
  <div class="postingpopup">
    <div class="header">
      <table width="100%">
        <tr>
          <td class="left" align="left">
            <div class="title">{{{postingtitle}}}</div>
            <div class="posteddate">{{{posteddate}}}</div>
            <div class="url"><a target="_blank" href="{{{postingurl}}}">open web page</a></div>
          </td>
          <td class="right" align="right">
            <div class="pid">pid: {{{pid}}}</div>
            <div class="imagethumb">{{{imagethumb}}}</div>
            <div class="ask">${{{ask}}}</div>
            <div class="bedrooms">{{{bedrooms}}} BR</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="content">
      {{#tags}}
      <div class="checkbox"><input type="checkbox" {{checked}} id="cb_tag_{{postingid}}_{{tag}}" onchange="do_checkbox(event);"> <span class="label">{{tag}}</span></div>
      {{/tags}}
      <p>
      <div class="notes">
        <div class="label">Notes:</div>
        <textarea id="notes_{{postingid}}" oninput="do_textarea(event);">{{{notes}}}</textarea>
      </div>
<!--
      <p>
        <div>
          lat,lng=[ {{{lat}}},{{{lng}}} ]<br>
          PostingID= {{{postingid}}}
        </div>
-->
    </div>
  </div>
</script>

</html>
