html, body, #mapcontainer {
   height:100%;
   width:100%;
   padding:0px;
   margin:0px;
} 

/*
#mapcontainer {
  height: 100%;
  width: 100%;
}
*/

#map {
  height: 100%;
  width: 100%;
}
#buttons {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 110px;
  left: 10px;
  border: 1px solid black;
/*  background-color: #dddddd; */
}
#messagearea {
  position: absolute;
  top: 10px;
  left: 50px;
  border: 1px solid black;
  width: 1000px;
  height: 30px;
  background-color: #ffffff;
  font-weight: bold;
  line-height: 30px;
  padding-left: 10px;
}
#hider-input-container {
  position: relative;
  bottom: 60px;
  left: 20px;
  width: 260px;
  padding: 5px;
  background-color: #ffffff;
  opacity: 0.8;
}

#hider-input-container .label {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  font-size: 0.9em;
}

#hider-input-container input {
  height: 20px;
  width: 25px;
  border: 2px solid black;
}

.item-entry .item-title label {
  font-width: bold;
}
.item-entry .item-description label {
  display: block;
  font-width: bold;
}
.item-entry .item-title input {
  width: 300px;
}

.item-entry textarea {
  width: 300px;
  height: 500px;
}

.stationpopup.routes {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.postingpopup {
    width: 300px;
    height: 400px;
}

.postingpopup .title {
    text-align: center;
    font-weight: bold;
}
.postingpopup .posteddate {
    text-align: center;
}
.postingpopup .url {
    text-align: center;
    font-size: 1.0em;
}

.postingpopup .header {
    width: 100%;
}




.postingpopup .content {
    width: 100%;
    position: relative;
}

.postingpopup .label {
  color: #000;
  background-color: #fff;
  font-size: 1.2em;
}

.postingpopup .notes textarea {
  width: 300px;
  height: 180px;
  resize: none;
}
